.footer-container {
    background-color: white;
    color: black;
    border-top: 0.5px solid #686262b3;
    padding: 20px;
    min-height: 15vh;
    margin-top: auto;
}

.footer-title {
    margin: 8px 0px;
    font-size: 16px;
    margin-right: 4px;
}

.person-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.link-container>a {
    margin: 0 4px;
}


.fab {
    color: black;
    font-size: 20px;
}
