.footer-container {
    background-color: rgb(29, 33, 37);
    color: rgba(255, 255, 255, 0.874);
    border-top: 1px solid rgba(159, 173, 188, 0.16);
    padding: 20px;
    min-height: 15vh;
    margin-top: auto;
}

.footer-title {
    margin: 8px 0px;
    font-size: 16px;
    margin-right: 4px;
}

.person-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.link-container>a {
    margin: 0 4px;
}


.fab {
    color: rgba(255, 255, 255, 0.879);
    font-size: 20px;
}
