.profile-dropdown {
  position: absolute;
  right: 25px;
}

.hidden {
  display: none;
}

.logo {
  width: 100px;
  padding-left: 20px;
}

.navigation-header {
  display: flex;
  flex-direction: row;
  width: 1030px;
  border-bottom: .5px solid #b6c2cf80;
  padding-bottom: 5px;
}

.profile-pic {
  border-radius: 50%;
  width: 30px;
}

.profile-pic-button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding-left: 860px;


}
