.profile-dropdown {
  position: absolute;
  right: 25px;
}

.hidden {
  display: none;
}

.logo {
  width: 130px;
  padding-left: 30px;
  padding-top: 12px;
}

.navigation-header {
  display: flex;
  flex-direction: row;
  gap: 780px;
  width: 1026px;
}

.profile-pic {
  border-radius: 50%;
  width: 40px;
}

.profile-pic-button {
  border: none;
  background: transparent;
  padding-top: 3px;
  cursor: pointer;

}
