.profile-dropdown {
  position: absolute;
  right: 55px;
  top: 50px;
  border: .5px solid #b6c2cf;
  background-color: #5e6873;
  padding: 20px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.logout-button {
  margin-top: 20px;
  border: none;
  background-color: transparent;
  color: #b6c2cf;
  cursor: pointer;
}

.logout-button:hover {
  color: white;
}

.user-first-name {
  color: white
}

.user-email {
  color: white;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.hidden {
  display: none;
}

.logo {
  width: 100px;
  padding-top: 8px;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #1d2125;
  border-bottom: .5px solid #b6c2cf4f;
}

.profile-pic {
  border-radius: 50%;
  width: 30px;
}

.profile-pic-button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.log-in {
  color: #b6c2cf;
}

.email-label {
  margin-bottom: 10px;
  color: #b6c2cf;
}

.current-boards {
  text-decoration: none;
  color: white;
  display: flex;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.right-nav-container {
  display: flex;
}

.fa-user {
  color: white;
}
