.background_images {
    width: 40px;
    height: 40px;
}

.board-card-name {
    color: white;
    font-size: 17px;
    padding-left: 15px;
    width: 170px;
    margin-top: 8px;
}

.board-page-title {
    color: #b6c2cf;
    padding-left: 30px;
    padding-top: 50px;
}

.board-card-img {
    background-size: cover;
    width: 230px;
    height: 130px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;

}

.board-card-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 28px;
    width: 1026px;

}

.board-card-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding-top: 1px; */
    padding-bottom: 95px;
    padding-right: 10px;
    background: transparent;
}

.create-new-board-button button {

    width: 230px;
    height: 130px;
    border-radius: 5px;
    background-color: #3b403c;
    color: #9fadbc;
    border: none;
    cursor: pointer;
}

.modal-button-board-card button {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.924);
    border: none;
    cursor: pointer;
    padding: 3px;
}

.user-img-name {
    display: flex;
    flex-direction: row;
    border-bottom: .5px solid #b6c2cf8f;
    padding-bottom: 20px;
    align-items: center;
    gap: 8px;
}

.your-boards-title {
    padding-top: 20px;
}

/* Create New Board */
.background-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 5px;
    gap: 5px;
}

.background_images {
    background-size: cover;
    border: none;
    height: 50px;
    width: 85px;
    border-radius: 5px;
}

.background-board-img {
    background-size: cover;
    width: 220px;
    margin-left: 75px;
    height: 120px;
    border-radius: 5px;
}

.mock-background {
    padding-top: 10px;
    padding-left: 17px;
}

.error-field {
    color: red;
    padding-left: 10px;
    padding-top: 10px;
}

.create-board-title {
    color: #9fadbc;
    font-size: larger;
    justify-content: center;
    display: flex;
}

#modal-content {
    background-color: #292c2a;
    border-radius: 10px;
    padding: 10px;
}

.select-background {
    color: #9fadbc;
    padding-left: 8px;
    font-size: large;
}

.board-title {
    color: #9fadbc;
    padding-top: 10px;
    width: 355px;
}

.button-row{
    padding-top: 20px;
    padding-left: 135px;
    padding-bottom: 10px;
}

.board-input-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.board-title-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}
