.whole-card-content {
display: flex;
flex-direction: row;

}

.card-title {
    background-color: transparent;
    width: 2000px;
}

.card-color {
    width: 10px;
}

.modal-button-board-card-title button {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.924);
    border: none;
    cursor: pointer;
    padding: 3px;
    width: 130px;
    overflow-wrap: break-word;
}

.modal-button-board-card-title {

    margin-left: 15px;
}
