.page {
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    border-radius: 5px;
}

.single-board-title {
    color: white;
    padding-left: 28px;
}

.list-header-container {
    color: rgba(255, 255, 255, 0.885);
    background: rgba(0, 0, 0, 0.815);
    padding-left: 8px;
    width: 150px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
}

.single-list-detail {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.add-list button {
    height: 40px;
    width: 150px;
    border-radius: 5px;
    color: white;
    background-color: rgba(255, 255, 255, 0.533);
    border: none;
}

.add-list {
    padding-top: 22px;
}

.single-list-title {
    width: 100px;
}

.profile-pic-board {
    width: 60px;
    border-radius: 10px;
}

.create-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; /* Adds space between input and error message */
}

.list-error-field {
    color: red;
    padding-top: 5px;
}

.delete-modal-container {
    background-color:#25272a;
    position: absolute;
    bottom: -60px;
    right: -160px;
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    color: #9fadbc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.delete-button {
    padding: 5px;
    width: 70px;
    background-color: rgb(0, 101, 255);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-left: 5px;

}

.cancel-delete-button {
    margin-right: 5px;
    padding: 5px;
    width: 70px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
