.page {
    background-size: cover;
    background-repeat: no-repeat;
    height: 1500px;
    /* border-radius: 5px; */
    /* box-sizing: border-box; */
}

.single-board-title {
    color: black;
    padding-left: 28px;
    height: 15px;
    padding-bottom: 10px;
    /* margin-bottom: 5px; */
}

.list-header-container {
    color: rgba(255, 255, 255, 0.885);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    padding: 10px;
}

.list-container {
    width: 185px;
    background: rgba(0, 0, 0, 0.815);
    margin-top: 10px;
    border-radius: 10px;
}


.single-list-detail {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-top: 10px;
}

.add-list button {
    height: 40px;
    width: 150px;
    border-radius: 5px;
    color: black;
    background-color: rgba(255, 255, 255, 0.533);
    border: none;
}

.add-list {
    padding-top: 12px;
}

.add-card button {
    height: 25px;
    width: 155px;
    border-radius: 5px;
    color: black;
    background-color: rgba(255, 255, 255, 0.533);
    border: none;

}

.add-card {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.single-list-title {
    width: 120px;

}

.profile-pic-board {
    width: 60px;
    border-radius: 10px;
}

.create-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.list-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #57606a;
    position: absolute;
    bottom: -60px;
    right: -160px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    color: white;

    height: 120px;
}

.enter-list-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #57606a;
    position: absolute;
    bottom: -60px;
    right: -160px;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    height: 90px;

}

.create-list-button {
    padding: 5px;
    width: 70px;
    background-color: rgb(0, 101, 255);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-left: 5px;

}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.list-error-field {
    color: red;
    padding-top: 5px;
}

.list-input-text {
    margin-top: 5px;
}

.delete-modal-container {
    background-color: #57606a;
    position: absolute;
    bottom: -60px;
    right: -160px;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.delete-modal-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.delete-button {
    padding: 5px;
    width: 70px;
    background-color: rgb(0, 101, 255);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-left: 5px;

}

.cancel-delete-button {
    margin-right: 5px;
    padding: 5px;
    width: 70px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.list-title-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-list-soon {
    padding: 15px;
    background-color: #57606a;
    color: white;
    border-radius: 10px;

}
